@charset "ISO-8859-1";

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
    height: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.Login
{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

#SignUpForm, #ManagerControlsForm
{
	width: 100%;
	max-width: 800px;
	padding: 50px;
	margin: auto;
}

.invisible
{
	visibility: hidden;
}


